.project_body {
    display: flex;
    flex-direction: column;
    margin: 29px auto; 
    width: 93%;
    max-width: 1200px; 
    gap: 20px; 

    @media (min-width: 768px) {
        flex-direction: row;
        gap: 0;
    }

    .project_details {
        flex: 1 1 auto;
    }

    .project_title {
        font-family: "Orbitron", sans-serif;
        font-size: 1.5em;

        @media (min-width: 768px) {
            font-size: larger;
        }
    }

    .project_image {
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 20px;

        @media (min-width: 768px) {
            width: 30em;
            height: 23.5em;
            margin-bottom: 0;
        }
    }

    .project_Description {
        flex: 2 1 auto;
    }

    .project_more {
        margin: 10px 0 0 0; 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: italic;
        font-size: 1.1em;

        @media (min-width: 768px) {
            margin: 50px 0 0 35px;
            font-size: 1.3em;
        }
    }
}
