.projectContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:rgb(116, 1, 1);
    width: 93%;
    margin:25px 50px;
    border-radius: 15px;  
}

@media (max-width: 768px){
    .projectContainer{
        width:93%;
        background-color:rgb(116, 1, 1);
        margin:10px;
    }
}