.projectContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:rgb(143, 87, 87);
    width: 93%;
    margin:15px 54px;
    border-radius: 15px;  
}
